/* Write your CSS here */

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Roboto';
  color: #ffffff;
}
.container {
  background-color: #07080c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.img {
  width: 500px;
  height: 250px;
  margin-bottom: 10px;
}
.heading {
  font-weight: 600;
}
.heading2 {
  font-weight: 400;
  margin-bottom: 10px;
}
.btn {
  border: 0px;
  background-color: #0b69ff;
  color: #ffffff;
  cursor: pointer;
  height: 30px;
  width: 110px;
  font-size: 20px;
  padding: 2px;
  border-radius: 6px;
}
.btn2 {
  border: 1px #ffffff solid;
  background-color: #07080c;
  color: #ffffff;
  cursor: pointer;
  height: 30px;
  width: 110px;
  font-size: 18px;
  padding: 2px;
  border-radius: 5px;
}
.btn-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}
